<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id="Cmp_Log4TcServiceInstall">
      <Component Id="Cmp_Log4TcServiceInstall1" Directory="DIR_Log4TcService" Guid="6B25845C-77FB-46E4-ACC0-4299F223595A">
        <!-- Service install uninstall -->
        <File Source="$(var.Mbc.Log4Tc.Service.TargetPath) " />
        <ServiceInstall Id="ServiceInstaller"
                        Name="Mbc.Log4TC.Service"
                        DisplayName="Mbc.Log4TC.Service"
                        Description="mbc engineering GmbH log4TC service"
                        Type="ownProcess"
                        Interactive="no"
                        Account="[SERVICEACCOUNT]"
                        Password="[SERVICEPASSWORD]"
                        Start="auto"
                        ErrorControl="normal"
                        Arguments=" --service">
          <util:ServiceConfig FirstFailureActionType="restart"
                              SecondFailureActionType="restart"
                              ThirdFailureActionType="restart" />
          <ServiceDependency Group="no"
                             Id="TcSysSrv"/>
        </ServiceInstall>
        <ServiceControl Id="StartService" 
                        Start="install" 
                        Stop="both" 
                        Remove="uninstall" 
                        Name="Mbc.Log4TC.Service" 
                        Wait="yes" />
      </Component>

      <Component Id="Cmp_Log4TcServiceInstallConfig" Directory="DIR_CommonAppDataFolderLog4TcConfig" Guid="BC1B0DA4-DDF7-4DCE-AC7E-A79BBC92BEAC">
        <!-- Configuration files -->
        <File Id="FILE_Log4TcServiceAppsettings" KeyPath="yes" Source="..\Mbc.Log4Tc.Service\appsettings.json" />
      </Component>

      <Component Id="Cmp_Log4TcServiceInstallLog" Directory="DIR_CommonAppDataFolderLog4TcLog" Guid="0781C2DA-7D26-4DC9-A01B-9DFAD6CA4B8D">
        <!-- Log files folder -->
        <CreateFolder Directory="DIR_CommonAppDataFolderLog4TcLog" />
      </Component>

      <Component Id="Cmp_Log4TcServiceInstallStartmenueShortcut" 
                 Directory="DIR_ProgramMenuServiceShortcuts" 
                 Guid="7B0BDA32-18B1-4346-8F2D-D508BD6B3F13">
        <!--Start Menu Shortcuts-->
        <CreateFolder Directory="DIR_ProgramMenuServiceShortcuts" />
        <RemoveFolder Id="RemoveCompanyStartMenuFolder"
                      Directory="DIR_ProgramMenuServiceShortcuts"
                      On="uninstall" />

        <Shortcut Id="StartmenueConfigShortcut"
                  Name="log4TC Konfiguration öffnen"
                  Description="Öffnet den Konfigurationsordner für log4TC"
                  Directory="DIR_ProgramMenuServiceShortcuts"
                  Target="[DIR_CommonAppDataFolderLog4TcConfig]" />

        <Shortcut Id="StartmenueLogShortcut"
                  Name="log4TC Logdateien öffnen"
                  Description="Öffnet ortner mit den lokalen Logdateien für log4TC"
                  Directory="DIR_ProgramMenuServiceShortcuts"
                  Target="[DIR_CommonAppDataFolderLog4TcLog]" />

        <util:InternetShortcut Id="StartmenueWebMbcHelpShortcut"
                       Directory="DIR_ProgramMenuServiceShortcuts"
                       Name="log4TC Hilfe"
                       Target="https://mbc.dev/log4TC/"
                       Type="url" />

        <util:InternetShortcut Id="StartmenueWebMbcShortcut"
                               Directory="DIR_ProgramMenuServiceShortcuts"
                               Name="mbc-engineering.ch"
                               Target="https://www.mbc-engineering.ch/"
                               Type="url" />

        <RegistryValue Root="HKCU"
                       Key="Software\mbc engineering GmbH\log4TC"
                       Name="Log4TcServiceInstallStartmenueShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>