<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id="Cmp_Log4TcServiceOutputFiles">
      <Component Id="Cmp_Log4TcServiceOutputNlog" Directory="DIR_CommonAppDataFolderLog4TcConfig" Guid="7387C8E9-ABE0-455B-BC47-025C7B6032B8">
        <File Id="FILE_OutputNlogConfig" KeyPath="yes" Source="..\Mbc.Log4Tc.Output.NLog\NLog.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>