<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DIR_Log4TcService" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Cmp_Log4TcService">
            <Component Id="cmpF1E3B58D5196EC214441C1A9570D38F0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA6F74BE835B173880A5498CF6E94EB07" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Ensure.That.dll" />
            </Component>
            <Component Id="cmp10A5890FE3C90EAF67BC43A43A685F8F" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil9C780F4AC02F4E3CC1195D1373D85761" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\InstallService.ps1" />
            </Component>
            <Component Id="cmp87E797A106830BE385C9C2CF0580D8F4" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filAC957D70D92854E3E2FAB1C4A9EEBCD5" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Dispatcher.dll" />
            </Component>
            
            <Component Id="cmp05A1EF583674FC6EAEFE777A7B81666E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1651FB5DFF5EA6A533F6B688AEED7D53" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Model.dll" />
            </Component>
            
            <Component Id="cmp9FD995358F5BC957C4E206B125D1848B" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil3796796ED41A5B03010CB341073C7D92" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Output.dll" />
            </Component>
            
            <Component Id="cmp542783CC62FA1184D96F7CEC7EBA37FB" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filB6A0B5AF08329F55E05BB13B19D0F18E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Plugin.dll" />
            </Component>
            
            <Component Id="cmpB0DC79098A59D10890C1C10DF2B7B9FB" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil859D44498C2199C5ED07C42BEE018128" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Receiver.dll" />
            </Component>
            
            <Component Id="cmp479B1420A51A8548F611F481156CB2F7" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil29EFEFEEBE54FE41D96105966E75A9EA" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Service.deps.json" />
            </Component>
            <Component Id="cmp5F770AF3B84AFC0078D37292419C212E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filE3B52E8AD170322F82BF726EB2BE84A8" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Service.exe" />
            </Component>
            <Component Id="cmp8297B864592CC547E76283B0AD54E18A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil6AC1E18107238B246589BF8A54301528" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Mbc.Log4Tc.Service.exe.config" />
            </Component>
            
            <Component Id="cmpA4B6A59D865CA0578F5A4ABCC69C585C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil81F2401F40F077569FA63AC97D26FEF3" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmp4A04B6CF739E807FD1D462E2DAEC0ECD" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filB72BEE3CAF460B8F98D45B19C3792B83" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpF5A97F5D8E5BA0D736D1E12FC6FA92A3" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil2581B4BCF0873D5BB9EAE0FE9EFA01B4" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp28D088C66C8003FD90B6A74FCC2544A8" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil0ACA5F591792773F55C9AAC3D02BED73" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmp6386702F47078A81A6DE0B51A21CDCAE" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filF403219EE786EB6E26F91C7505006F5E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmpAD462A97FDA4EA7F75579C5C689C71ED" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil8B47DEF37B07323FBA3DE359B8B02E1A" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp1D49280472E7CECE35C5DDC38AB4CB53" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil6AF69ADC267B8F5AC8A65592FC9CC7CB" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp588BD077860993C2B7B775579495A966" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil9AD29155C51C754C7A103083481C45D8" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmpED2AFFED1FDC1B1F070EB5EF9C8893E6" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filEC2B942890D64B178F34270A48C489E2" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmpD89778DA4BB1AD84489F48AC3A4B129C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filD72361C36A29DDF0C99C4ABDA6B03836" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp2796785F781C217B9F4926BCF736670F" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil5B0DB6A66CCE9D4BC479BE27EBFBBA5C" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp4F847B42DB9A37DD488DA3C5B921C371" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil9BE40C676D6A73AD0057D7B6A08D8658" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp8BDC36F3F8E1AFCB4A404B60573B5032" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil4040883FC71FA91A8792040AC19504F2" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmpD7DDBAEBBD4E054A22A9A6BDF0FBFD68" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filFB9FBC67456BC3AD87847FD20A4BB419" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpF5D9E5EADE65BBB0E4EFC6885BD1157A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil494DDF8D8B0CE32D5F5CDABA9A8DE405" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp124878B9637CC7180880DA897779B7D3" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filF6EFE4301BC39E5A36A94369B3CEAF1D" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmpEDC8F4CD96EE10DAF5E89DAA0F45D3B6" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil558B4DE22A17DA55B4DA7FDB8980D34E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmpA27032B67568A9C2B75ADA4D297A85A5" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filB2B2F55780849A9FFACFFA110619882A" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpBFE5A8B832BA306AEBFD066C9C1ECDE7" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil2236F533E8951C74D534BC7F5AA55FE4" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp750BFA263EC1F6AB140FDD185622B49F" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filD19281174F37C2DDE2992B32D37D94F3" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp02C4051E0CF847F2B0FEA8D81F09E7F5" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filAC95FC5B3CF8BB808DC332BCC7DDE6D1" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmpD7B8D40EFD47CD505AEC8B60B16C545C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filF865A0118B3411561AA39935F1BCB546" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp4E4D9A811532EDC61CC42127E0522AB8" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil3DE75F3B3F282E5509193CD77F61D2A8" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmpC1B55586B2A019FF378E2B1D32AAFFF1" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil6BA4E24E50906DE4BF19842EB82AD88E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmp30237154B496D64F0FB6644D07B7D5E0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil0F7E24984A3D106B3A578DFE112D8E11" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp19A7885930FECFF2E5659DD00C9E6C8A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil2FAA8D4835CA425C7D5B90AAD9EB2F76" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Options.DataAnnotations.dll" />
            </Component>
            <Component Id="cmp0F820F7AFC9D770D184C72B6EADEBED3" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil4567C7C9AED6A5E4B3D76DC2707671D6" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp2D46D9F4AC1ED6D8AFE3800460648115" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil9F2FE250E243FC1E1AC0EA551AAA57D2" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpCE580D3477CDF7F8FC8362F0B31933AB" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil06E58B3AE5AF929F0F433806F9D909F6" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp92BF946E47F1F35FEA37FAFAF1D5B6D0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil987F8C87F3A8F30E145CA2572104F6A9" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\netstandard.dll" />
            </Component>
            <Component Id="cmp82EED9BB593DDD90E84A4D77A8879DC7" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil262B360EEC457CEC6863014037E6B071" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\NLog.dll" />
            </Component>
            <Component Id="cmp2374153E71B1F93BAECD4FFD41BA284F" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil13C519700ADDF911669B463F85300CD0" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Optional.dll" />
            </Component>
            <Component Id="cmp8403CCF2F752C927985666169BE9E474" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA9B5C610D574F0DC60D89E145E353FC0" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.dll" />
            </Component>
            <Component Id="cmp72D208FB4030D31194C53B23866D22A3" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil6DE9DDDDBC77232FE89D1B4F5DF0803B" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp461A05877CA91F84FC6320581848D2C0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil43657C9A5F414A6BE5CB3F22FC9558A5" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Extensions.Logging.File.dll" />
            </Component>
            <Component Id="cmpE8A4E5C2A61B8ECA3A36D7DE6C436C51" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil944DA452C605E722EB0CC8D09FDA9086" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Formatting.Compact.dll" />
            </Component>
            <Component Id="cmp545F6B6AF0FC46D6FCE99EF351051712" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil8FB4E1E3E09823908ADF1C1A48F1E89B" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Sinks.Async.dll" />
            </Component>
            <Component Id="cmp8447251BFD0C6A97B1C50F4C62D36932" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil6FAF4834E4B77BD87EF48FEFB8A8FC49" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Sinks.ColoredConsole.dll" />
            </Component>
            <Component Id="cmp2DA9D8F60C0CB4B2B0AF8FB6D9F9CE23" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil37025CCE943065CDC778029C0F10A966" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Sinks.Console.dll" />
            </Component>
            <Component Id="cmp446C18B036C318AF1D0ECAB52054256D" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filDDFFF33F6C0598A3BAE3F0074BEB4580" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp11696DE385DA416E458F0CDDD0158E7C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filB4F9CCDD37983385613E69F46DF89395" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\Serilog.Sinks.RollingFile.dll" />
            </Component>
            <Component Id="cmpEAF519BDB3A6C0C1155E2F6BD578E582" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil5716FAB6E3A90184484B61F36C8969A8" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.AppContext.dll" />
            </Component>
            <Component Id="cmp9CC8E32E57E9D1D2EE32D79B69F68AFF" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil3F8C496CBDE027D28D37250C5D5808F1" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Buffers.dll" />
            </Component>
            <Component Id="cmpC4EBEA8B80F613D31326E444A075D8F4" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil0D366390C0F8CC66A2175E53DCCC0AC9" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmpF9A76EF7F17A8DAD925755DE5B7819C0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filBF79665EC7593AB8C00090FC3F22EAAD" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Collections.dll" />
            </Component>
            <Component Id="cmp628EE30140ECED1811C4ABB54B5D9BC1" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil696E8FED30D271B787260B60F28A5E0A" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp592593335DF7EBAD38AB7B73A573DD0E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil079277443C26C0EBFEDD1E423AFADF42" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp1DF401C2BD5B44B8B2EA5D1DE6958450" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filFCCFFEA4625A8B7894453AA490084128" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ComponentModel.Annotations.dll" />
            </Component>
            <Component Id="cmp67C492503E995EBC5ACBAA53097A06C6" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filDD9A5C4AEB9E4C901F56A4457A652465" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmpE971B9A5009CA4F9AB7B23CDBD4034CC" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filC49AE655D33741277EA9977DE211F638" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp14301D5D6CDAB122F6E259B8AF39CA55" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil2AED5F35B9EBF6DA78E9FFCFC58996A1" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmpDC57B1230722E58A7F393E6B25025560" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil809564584566F57061B748439EF3FC79" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmpB79F4466F23559965EDDADA02BF58E47" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil9C6D4AE3CDEF6F02B8846C2A2EDB39E7" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Console.dll" />
            </Component>
            <Component Id="cmpBFAC32607B8EAA738D2EC2F112E7DA14" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filCFB00917D3439C213A067C03017003B1" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp3E5400B25A7319320F751458B17D556E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA8C013E86731CD70D1BABE86526F5593" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmp5C93DD3DE4B2CEAD681668D8B8A75C43" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil253E05CBD615C98B62D6B5B09E063EE6" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmpDFA3991882D80046A7AD9815CECB173B" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1B5055842D847334FB86BD92D5ED00AA" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.EventLog.dll" />
            </Component>
            <Component Id="cmpE084A9056F6FFF368436BCBA27207FD9" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil8CBFAAFF0A8380FC524E1D3C9DA2B5AE" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmp7E130C6D12460C032DA11A49574DF60E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil46D5AA96F0C310785EF92D094BB3F99A" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmp08B704D2AF1329BE8E9B1CC62B3B5713" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil5E51B5EF7DAAA0B17CE7686CA2959A00" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp12FB4F7EBBBADE6FE4144311775C7498" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil41D86333C5D9F4E94B48168A50826A36" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp0BBE445983976C3934C2B9D1E11CB111" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA0D9531CE185C1C14DBB3B726AC943D4" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmp9A64EC62A57F149336F79A4FAC55F6B0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil5D1C2978DC7D34A96148999EB913E311" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmpEF6E7FB16B90848455F42951D291DFAC" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil775C71CF993E1F12632B285716AF612E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmpCE17EC1FD94D9AF5CCDCB2EC4E2D8A41" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil143291C5761E1332623FE1DE8B1929A4" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmp1007D6A2F42162027678F326CC64B506" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1892468B5F4105805A161039734C2B8C" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmp354E81820CA8F5325FA0BE11A723F61F" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil90B86086E02FDCD64BB69BD7F79691E7" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp0BAE7640B81DF8F1ADD1BA821E748184" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil68B332D554940C1B2DF3D384BDB0DB05" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Globalization.dll" />
            </Component>
            <Component Id="cmpEA8EB640932C2122CBD2D9600D8062F6" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil97F1E0CC92C9E25DD30E6409A4E7A66C" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmp63F661E50841ACEBF5F6E06719C9EF01" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filD3EE4BE853A28F433EBA71622F0C60FC" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpE1A00DF848321D4EEA69E6AF2A850F35" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filD0B24B35B72D3EE0D7B8479FCDEB5183" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmpCB973DD6F72EA3F946B312908CD2586D" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil12D12C1A978285B31486B0D76339C595" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.dll" />
            </Component>
            <Component Id="cmp109086A0EDDA5506412B1996BC20887A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil5456E606359E6FADEA8EBD3FF5C8E8DD" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmpB0B5D8282BAED62FAC401814CC027AA5" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filB45832BE4DC9AFD18F62370AAB6245B3" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmp2DEF0E7B0BA5B1050920CA19E1AA1466" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil0C846FC713D477A672686386BC157C46" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp0F45150BEB63DE9909EF0B55B08B9805" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA4E4155CF5460770FDAF9C32B2EB2033" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmp12300E087F5BFF34C499581020EFA0D4" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1CF0E75C35642CF7524D674AF2D6E40C" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmp076CD6536111BF278E159188CE9B902D" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filED176AFC2AF07D3DEBB56B8286103C7D" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmp0042B52E5ED037ED5E9FFA248BB5FD13" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil69850B21E49D844D9E99C187F30B489E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmpA02403E4908A9E050A5EB3A87366DEE5" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil9EC22935F7C897E83FDE960B7B9538F0" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpBC2B0C5B71053418EFB477406C394482" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filE001E6C22F8627750E78F0413F303511" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Linq.dll" />
            </Component>
            <Component Id="cmp0EABCE629AF5B0DD439E733A038FDE19" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil59BACBFDA3EC23A997EFBF894C509169" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmp98678FB8C13D9C88AF28E2DD3AE552A4" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil3D5827EC9A2693CC0D2349DC794991D4" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmpDFD9978D1381A0A0E6802A7A21C7A1ED" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil0AFE2AA42CB8013EEE408E58ABC6A10B" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmp8B3B4F3DCACA0EEC19A9AE8012CB2548" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil218F76DE7508DF686C1E504B16FD2404" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Memory.dll" />
            </Component>
            <Component Id="cmpA1C8B89DD251E3B06AF85B580AC3B11C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil64DAE3AC429A6D374384CB52DF6E28AA" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmpF1358308FE33E8CDB82B66498D5437A7" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1BE6DCDCEC7C242554734976B8A27BC8" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmp454CE9F07B1DED21E3273B259012BD97" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filE2404D0164559D04F406891E5E6919E2" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmp523D23A5A0B7788F5925C731A90A1C14" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filC73C57F7A1A92ABB57E1F3B05EF90D8C" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp0B86F47927E89E18683341298530C3C1" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil46FECCD106F89A6C4ECC5A6B73C6F331" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmpBE921BE02346E92F2E20930D5D148D49" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil5B439CB53B35877C58103EC7A31923BC" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmpAE7FABE6FAFEB0A2196D90471A5B87E4" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filD2160DA10B79AD19DB7B48959B562D8D" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp09B679FC608EB9AE69E764B066DE440D" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filC39C07C9E1C794707F8E3F4BEBD991F2" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmp4C1834A7A1F93D0EC361640D6B582C44" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil22BAF2A410C99F35F31060A13A0F9C18" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmp5A75B79CE875E173374D74D75FBEE684" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filC804954466D2B1B613746AB01C5AD642" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmpA0BDD30C5624229AF3EC3A2A80BA236A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil4C17C9F534A495E4BABD984AF5C55AC4" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmp7ED8B96DB3E43DE601D04E9185B9A48A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil136745AD8368D27AD8875E08A1E5CE1A" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp2F8817C08BF054F55DA7B4C367C4B3BC" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil76119BFF41B581257151EAD48D589D0E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmp0666BDE6BF02EC98CEEE58998513308E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA2E9B80C84383033A06B7C1467992775" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Reflection.dll" />
            </Component>
            <Component Id="cmpD448D6618DCCB19B2E893C9135F2846C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1A77F66B8332A10B293B9567EC553BF9" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp5D206CAFACD46D2C1B641AAFCD80F4DE" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil45821F3DDD6CE3D4C7DEBE784C931AC6" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmpED6FAAD8BA72C18B4AB683A732A09B29" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filD32E57C837BB38F78F6611E9D41B58B1" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmpB76F4589E48ADAFCF2ABEA4EC8B4848F" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil43A6EB92630F26A7E8CF2B83F56EF9C0" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp99C91F031620814FA170383D9E8AF466" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filED76519D1E25A250A221A0415980C78D" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmpE3E47BC6D9BD30F47772A8114342CF9E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil5B109F284A19AFBB3C2678041521329C" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpCA08C6F8B9D5E3A447E6842F7037B665" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil30BA1656718C615031B3B12B51044666" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmpEEDF29637F100933B32B8664F77AFF88" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filF7B038D789F93FA9187A0EF05BF304CB" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.dll" />
            </Component>
            <Component Id="cmpF98383B120983C790D51FF774D4C3792" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1F2378EADB9D18CBFEB346FEE13D69C4" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmp3FEBEBDE856DE2AE4819D020441EB516" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filD587E8E565893954809269DB154F8221" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmp0FB50CC615DBA33849C4FF155BF49D95" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil8AC772821854CC97F8FE7283B1C2DF39" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp23A1434EFDBF10F7D98593DCB87629B6" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil0C0255E472D9A3AD76914982F989B378" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpA431D0DAF12B35FD0DC977A0CABB566C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filFB70007DC7CAE17768AFF62148A574FA" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp5B5EF2B1E294F58BF969ABBEF244EF4C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil52FD68AECDDA67A5A2327FC66661F42B" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmp59898C58E7194A77C7A94BB6313A9D12" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil569285A59B91FEDDFA5ED04B275B5953" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmpA730F533A7891F97A7DDB572F73C0AFE" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil8386C50F1E28B54C8A24564CD23CAE10" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmp44871337A39DF4E0EA9BEC0E4A44440A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1DDE5FF17FBBD0646DAC885CEBA67EC1" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmpF52104C894375ADF73BCBDCA7F3778FF" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil8CDA1CC1EE54B1C32541A9736020A883" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmp905A61D16C98362B0678E2C7C297F878" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filE67DFFC723CE49BB9DA6C957962DBE25" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp918E3215FC576457F713CD3366FAB196" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil7D92459707102E86F2AB5949E2FDCB49" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp9EA81C69F279509CF5BA19BF41567A47" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filAB886B4E69979574C490751483E25997" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmpD696606D4C82FEB92155E63E6B7517DB" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil00B51D4CF96472A715AF5FB18422B0AD" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmpC3187BD7D1E0F8E34DF7A8EDAF835065" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil376C26744DCDD152B73EEBCB73823CDF" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp6E8D6FC12BD45ACE7FF2AAEB481753F6" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil4E59C0960D671D93E6BC11068C65C6B2" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp922C9AFE71BF20AB9881FF62BD20BC7E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil107FD7C77BF34394E233E6271BF7A9CC" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.Principal.Windows.dll" />
            </Component>
            <Component Id="cmpA42EC83CFFDC66AC102B2E7BFB2990D0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil15EF3A3764567AF23E1358DB4779D99A" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp4AB35888C3C18C84F03FF675E05BCCC3" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil95906CE7932964DC6099E220B1D1B01E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmp10E39B5A9C108A8AB616CC525727666C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil9A0CB758D71A07CE38F5E56708B632EE" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmp25C4AE09B39FBED9C2BC78360462DE23" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA653DADF90A6CFA07C4B3CF0A185F5E3" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmpD2DCBF79D4911F1025D98BE9E3F785FD" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA66217340B889922D1A1D8D7A8759624" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="cmp440FDC5ECA6FAD51947911A8E973613D" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil14AE98E7D9BB73858FBAC717C0F584FC" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp1AA2FF63DA0E64F55CB391186D69BE8C" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filAE147D3769E2A94FB2B67304D0C8906D" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmp003E9535CDFDD804F3F511DFA98EFA36" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil2BB5D4A1B9BBD6C992745BA11EC6E9E6" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.dll" />
            </Component>
            <Component Id="cmp7F16CA8D93563D30E0C458147C20930B" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filAE951A57052A355D9534ADED7BF23A08" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmpCEF5CD3747F4F525CA8B3FDFDA2BA757" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filA1AED867C0C96AA77BF8C63C784357D0" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.Tasks.Dataflow.dll" />
            </Component>
            <Component Id="cmp23C9E603FFAE9CDF52E1C50686D02201" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filCCA9340E189943B038ABBD231B3DA84E" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmpC1852403A5431514ED3985E15BAC680E" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil1105AD345F48BF63CD2FA8308F3D4DFA" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp5CAA412848824D3B1D6E5B588E5884AC" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil472B2C64CC9BED417A9392B25467E97A" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmp4A03BE6FB5E4022D100C571CB44D71B4" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil0CBA511B275F026A05B02758909889CF" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp3A341DBE3203EF75623B5BBCF017C194" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil12ED74F55446A30C9307D23A7578C9CA" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp367A2958CE36C33C4CF8BCC32C3222BD" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil38CF542789FEB5E33C4415E034700144" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmpD395F43935A12EB39B7C3AA949A4A4F7" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filF60FB71124AF43ADEA6CAAB6DB50D8B2" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp6B4FF2B89B89CB3414C3658FAD05B326" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filFA1760262E0B3A83695A8CE25146A4D6" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmpC2BB81A470934C2E657147FF5214A98A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil686DB388BEAAFB4DDFFBED8DA0696588" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp00CB69A7067B64C0B26AECE3BF59D3DE" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filCBDA0036546297D641706FB38EF4E344" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp9C6F5E701F0CCC543604F94BE86AFA38" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil4417A775007F2ADCFB854288D6FDBD24" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmp7E96439A800373A5635ECCC41BFD458A" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filB9F93F3E5B8B0C0B49A06B38440F8618" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmpC30A471725BFD711B2D7D5E6091A0AD2" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filAF5CB6273CC79D50FD8E01E2D14E09C7" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\System.Xml.XPath.XDocument.dll" />
            </Component>
            <Component Id="cmpCD47A89F867F21B2EA5A371E3847DD67" Directory="DIR_Log4TcService" Guid="*">
                <File Id="filFD68E5F6C51D78706FA2697E3F3DE644" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\TwinCAT.Ads.dll" />
            </Component>
            <Component Id="cmp16B742CFD1FAA9A71D2B1DE8129BFFE0" Directory="DIR_Log4TcService" Guid="*">
                <File Id="fil12E9C0786A812A322D250B5108B50D3B" KeyPath="yes" Source="$(var.Mbc.Log4Tc.Service.TargetDir)\UninstallService.ps1" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>