<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id="Cmp_Log4TcServiceInstall">
      <Component Id="Cmp_Log4TcServiceInstall1" Directory="DIR_Log4TcService" Guid="6B25845C-77FB-46E4-ACC0-4299F223595A">
        <File Source="$(var.Mbc.Log4Tc.Service.TargetPath) " />
        <ServiceInstall Id="ServiceInstaller"
                        Name="Mbc.Log4Tc.Service"
                        DisplayName="Mbc.Log4Tc.Service"
                        Description="mbc Log4Tc service"
                        Type="ownProcess"
                        Interactive="no"
                        Account="[SERVICEACCOUNT]"
                        Password="[SERVICEPASSWORD]"
                        Start="auto"
                        ErrorControl="normal"
                        Arguments=" --service">
          <util:ServiceConfig FirstFailureActionType="restart"
                              SecondFailureActionType="restart"
                              ThirdFailureActionType="restart" />
          <ServiceDependency Group="no"
                             Id="TcSysSrv"/>
        </ServiceInstall>
        <ServiceControl Id="StartService" 
                        Start="install" 
                        Stop="both" 
                        Remove="uninstall" 
                        Name="Mbc.Log4Tc.Service" 
                        Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>