<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	throwConfigExceptions="true"
	autoReload="true"
	internalLogLevel="Info"
	throwExceptions="true">

  <!--
	See https://github.com/nlog/nlog/wiki/Configuration-file
	for information on customizing logging rules and outputs.

  See also for targets: https://nlog-project.org/config/?tab=targets
  See also for placeholders: https://nlog-project.org/config/?tab=layout-renderers
	-->

  <extensions>
    <add assembly="Mbc.Log4Tc.Output.NLog"/>
  </extensions>

  <variable name="logdir" value="${specialfolder:folder=CommonApplicationData}\log4TC\log"/>

  <targets>
    <target name="xmlLogFile"
            xsi:type="File"
            createDirs="true"
            encoding="utf-8"
            archiveFileName="${logdir}/log4tc.xml.{#}"
		    fileName="${logdir}/log4tc.xml"
		    maxArchiveFiles="1"
            archiveAboveSize="1048576"
			archiveNumbering="Rolling"
			layout="${mbclog4jxmlevent:includeAllProperties=true:message=${message} [${mbc-all-event-properties:IncludeEmptyValues=true}]}">
    </target>

    <target name="textLogFile"
            xsi:type="File"
            createDirs="true"
            encoding="utf-8"
            archiveFileName="${logdir}/log4tc.log.{#}"
		    fileName="${logdir}/log4tc.log"
		    maxArchiveFiles="1"
            archiveAboveSize="1048576"
			archiveNumbering="Rolling"
			layout="${longdate}|${level:uppercase=true}|${logger}|${message}|[${mbc-all-event-properties:IncludeEmptyValues=true}]">
    </target>
	
	<target name="csvLogFile"
            xsi:type="File"
            createDirs="true"
            encoding="utf-8"
            archiveFileName="${logdir}/log4tc.csv.{#}"
		    fileName="${logdir}/log4tc.csv"
		    maxArchiveFiles="1"
            archiveAboveSize="1048576"
			archiveNumbering="Rolling">
			<layout xsi:type="CsvLayout"
					withHeader="true"
					delimiter="Tab">
				<column name="time" layout="${longdate}" />
				<column name="temp" layout="${event-properties:item=temperature}" />
			</layout>
    </target>
	
  </targets>

  <rules>
    <!--Levels: Trace, Debug, Info, Warn, Error, Fatal, Off-->
    <logger name="*" minlevel="Debug" writeTo="xmlLogFile" />
    <logger name="*" minlevel="Debug" writeTo="textLogFile" />
	<logger name="*" minlevel="Info" writeTo="csvLogFile">
		<filter defaultAction="Ignore">
			<when condition="${event-properties:item=csv})" action="Log" />
		</filter>
	</logger>
  </rules>

</nlog>
