<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="Cmp_Log4TcTwinCatLibGettingStarted">
      <Component Id="Cmp_Log4TcTwinCatLibGettingStartedStartmenueShortcut" Directory="DIR_ProgramMenuServiceShortcuts" Guid="EEC7FC40-7356-43AF-890C-9E5C7DA4B193">
        <!--Start Menu Shortcuts-->
        <CreateFolder Directory="DIR_ProgramMenuServiceShortcuts" />
        <RemoveFolder Id="RemoveCompanyStartMenuFolderGettingStarted" Directory="DIR_ProgramMenuServiceShortcuts" On="uninstall" />
        
        <Shortcut Id="StartmenueGettingStartedShortcut" Name="log4TC Getting Started" Description="Öffnet den Beispiel Ordner für die Verwendung von log4TC in TwinCat3 anhand mehrerer Beispielen" Directory="DIR_ProgramMenuServiceShortcuts" Target="[DIR_CommonAppDataFolderLog4TcGettingStarted]" />

        <RegistryValue Root="HKCU" Key="Software\mbc engineering GmbH\log4TC" Name="Log4TcTwinCatLibGettingStartedStartmenueShortcut" Type="integer" Value="1" KeyPath="yes" />

      </Component>
     
    </ComponentGroup>
  </Fragment>
</Wix>