<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="Cmp_Log4TcTwinCatLib">
      <!-- Copy the TwinCat library files to the -->
      <Component Id="Cmp_Log4TcTwinCatLibFiles" Directory="DIR_CommonAppDataFolderLog4TcLib" NeverOverwrite="no" KeyPath="yes" Guid="DA0DAA54-1D99-4301-9B8C-33A85D4A2B0A">
        <File Id="Log4TcTwinCatLibFile" Source="..\..\..\library\mbc_Log4TC.library" />
      </Component>

      <Component Id="Cmp_Log4TcTwinCatLibLicense" Directory="DIR_Twincat3CustomConfigLicenses" Guid="2FD88ADD-4D58-4A5B-A5C9-5FCD204F5596">
        <File Id="Log4TcTwinCatLicenseFile" Source="Fragments\Log4TcTwinCatLibFeature\mbc_engineering_log4tc.tmc" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>