[Unit]
Description=Log4TC is an extension for TwinCAT3 by Beckhoff, allowing the generation of log messages directly from the PLC (Programmable Logic Controller). The messages can be transferred, filtered, evaluated, and forwarded to various outputs.

[Service]
Type=simple
ExecStart=/usr/local/bin/Mbc.Log4Tc.Service

[Install]
WantedBy=multi-user.target