<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwConfigExceptions="true"
	autoReload="true"
	internalLogLevel="Info"
	throwExceptions="true">

  <!--
	See https://github.com/nlog/nlog/wiki/Configuration-file
	for information on customizing logging rules and outputs.

  See also for targets: https://nlog-project.org/config/?tab=targets
  See also for placeholders: https://nlog-project.org/config/?tab=layout-renderers
	-->

  <targets>
    <target name="xmlLogFile"
            xsi:type="File"
            createDirs="true"
            encoding="utf-8"
            archiveFileName="log4tc.xml.{#}"
		        fileName="log4tc.xml"
		        maxArchiveFiles="1"
            archiveAboveSize="52428800"
			      archiveNumbering="Rolling"
			      layout="${log4jxmlevent:includeAllProperties=true}">
    </target>
    <target
			xsi:type="NLogViewer"
			name="viewer"
			address="tcp://127.0.0.1:878" >
    </target>
    <target xsi:type="Console"
            name="console"
            layout="${shortdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>

  <rules>
    <!--Levels: Trace, Debug, Info, Warn, Error, Fatal, Off-->
    <logger name="*" minlevel="Debug" writeTo="xmlLogFile" />
    <logger name="*" minlevel="Debug" writeTo="viewer" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>

</nlog>
