<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DIR_CommonAppDataFolderLog4TcGettingStarted">
            <Directory Id="dirFFCEEB30F0BEC9FCC7F112B2B0F107FE" Name="A_SimpleLogMessage" />
            <Directory Id="dirB67967D3572CBA8851F8A892E1826EDB" Name="B_LogMessageWithArg" />
            <Directory Id="dirA57FF57C06AF934BB51E3ED856713734" Name="C_LogWithLogger" />
            <Directory Id="dir497D8E622813FFE24CB616C9A5FFB30C" Name="D_LogWithContext" />
            <Directory Id="dirD78B082D3959139F2A4AF57F18094764" Name="E_StructuredLogging" />
            <Directory Id="dirFC1A5E713BF09CBDF473DD65BE5A56F3" Name="_Config" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Cmp_Log4TcTwinCatLibGettingStartedFiles">
            <Component Id="cmp867070394149CDB2017549A13BF98919" Directory="DIR_CommonAppDataFolderLog4TcGettingStarted" Guid="*">
                <File Id="fil020E91F69E12B59C01E9002707525332" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\.gitignore" />
            </Component>
            <Component Id="cmp208A8E2DB2F91B6DF8EE1717B491A9BA" Directory="DIR_CommonAppDataFolderLog4TcGettingStarted" Guid="*">
                <File Id="fil72149008BE50C82501CED9E2528FC809" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\GettingStarted.sln" />
            </Component>
            <Component Id="cmp023D3C0F740A5F1A226397862FE0F252" Directory="DIR_CommonAppDataFolderLog4TcGettingStarted" Guid="*">
                <File Id="fil9F08A7EFAB890B6D41A8498BFDFC622E" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\GettingStarted.tsproj" />
            </Component>
            <Component Id="cmpCB3AD8C44ADD9B097E61B80252F7CD4B" Directory="dirFFCEEB30F0BEC9FCC7F112B2B0F107FE" Guid="*">
                <File Id="filC321132C808FD015FF891EDE2DCBA13F" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\A_SimpleLogMessage\A_SimpleLogMessage.plcproj" />
            </Component>
            <Component Id="cmpAF9E2422EF2540A0AC9C231181F8DFE5" Directory="dirFFCEEB30F0BEC9FCC7F112B2B0F107FE" Guid="*">
                <File Id="fil85E4FFD1F1B714B61E1D5BF9ED3EE1C8" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\A_SimpleLogMessage\MAIN.TcPOU" />
            </Component>
            <Component Id="cmp054E4B13B0FE0B3AFF085FCF604566AC" Directory="dirFFCEEB30F0BEC9FCC7F112B2B0F107FE" Guid="*">
                <File Id="fil255811EF9A20B2FBB63C770A71243382" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\A_SimpleLogMessage\PlcTask.TcTTO" />
            </Component>
            <Component Id="cmp6E8A19E874607A59A1D29022B2256CC1" Directory="dirB67967D3572CBA8851F8A892E1826EDB" Guid="*">
                <File Id="fil2C46E86C049B62B7F4418799779D1F7B" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\B_LogMessageWithArg\B_LogMessageWithArg.plcproj" />
            </Component>
            <Component Id="cmpE99F0F23E6A939D835BFB5E8E78DE9A5" Directory="dirB67967D3572CBA8851F8A892E1826EDB" Guid="*">
                <File Id="filD1A913B73C032D17694ACF562001DF64" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\B_LogMessageWithArg\MAIN.TcPOU" />
            </Component>
            <Component Id="cmp75CF7C6601345835B9A578469BF138AF" Directory="dirB67967D3572CBA8851F8A892E1826EDB" Guid="*">
                <File Id="filC5D8741E4B4294E1C6376EF32B702D51" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\B_LogMessageWithArg\PlcTask.TcTTO" />
            </Component>
            <Component Id="cmp2283772F0C25A062D670742BDA670D8B" Directory="dirA57FF57C06AF934BB51E3ED856713734" Guid="*">
                <File Id="fil67C863AD37E8BEF25B798324662899EF" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\C_LogWithLogger\C_LogWithLogger.plcproj" />
            </Component>
            <Component Id="cmpCFA054D9503DD968D95D9ACA3FECE038" Directory="dirA57FF57C06AF934BB51E3ED856713734" Guid="*">
                <File Id="fil9E1443BD34DAC11BC5B5E9924BA154B2" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\C_LogWithLogger\MAIN.TcPOU" />
            </Component>
            <Component Id="cmpF651A03DA7C55AC67E05972A19CFF2AE" Directory="dirA57FF57C06AF934BB51E3ED856713734" Guid="*">
                <File Id="fil2995F82A201801FF47797585FB3D092B" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\C_LogWithLogger\PlcTask.TcTTO" />
            </Component>
            <Component Id="cmp401FF9CA4E5FB26605DC8CC181924448" Directory="dir497D8E622813FFE24CB616C9A5FFB30C" Guid="*">
                <File Id="fil24EC4E745D32AD0CFB1BCA6E37A48AE4" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\D_LogWithContext\D_LogWithContext.plcproj" />
            </Component>
            <Component Id="cmpD072809230A7A3CB18D58913E985BAA0" Directory="dir497D8E622813FFE24CB616C9A5FFB30C" Guid="*">
                <File Id="fil3C11F4E667294846BDFF7CB7D5A40EFA" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\D_LogWithContext\MAIN.TcPOU" />
            </Component>
            <Component Id="cmpB9FB4A7A34E6D92EE2E3395650D89101" Directory="dir497D8E622813FFE24CB616C9A5FFB30C" Guid="*">
                <File Id="filCAF7DC89481929991386E05255A9BDCB" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\D_LogWithContext\PlcTask.TcTTO" />
            </Component>
            <Component Id="cmp6FCB5FA1CB075070D13D8CE3364FA6FD" Directory="dirD78B082D3959139F2A4AF57F18094764" Guid="*">
                <File Id="fil17C8C3D678BAF9557E125BEBCB0EFD30" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\E_StructuredLogging\E_StructuredLogging.plcproj" />
            </Component>
            <Component Id="cmp0D15815FECE0BCFBA56104B96C5D15C5" Directory="dirD78B082D3959139F2A4AF57F18094764" Guid="*">
                <File Id="filEB94C1029CC8847557FF9A27A4BECC6C" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\E_StructuredLogging\MAIN.TcPOU" />
            </Component>
            <Component Id="cmpD98B1069351DAD86E943A15368611695" Directory="dirD78B082D3959139F2A4AF57F18094764" Guid="*">
                <File Id="fil94535F56F4E983D388CE65544143C55D" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\E_StructuredLogging\PlcTask.TcTTO" />
            </Component>
            <Component Id="cmp30AE4F27961A3227475CDB79C37A240B" Directory="dir5A01AF60DDDA23854F1B4B81CF3EAB6B" Guid="*">
                <File Id="fil05BA1C30B76622104E4082DF7F4124C0" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\_Config\PLC\A_SimpleLogMessage.xti" />
            </Component>
            <Component Id="cmpAE059A4229796FD21D8C93BB73C929AB" Directory="dir5A01AF60DDDA23854F1B4B81CF3EAB6B" Guid="*">
                <File Id="filFCEF5E8C873546926E46C7945081E86A" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\_Config\PLC\B_LogMessageWithArg.xti" />
            </Component>
            <Component Id="cmp2BB50242F9CD447D386A9605D657986B" Directory="dir5A01AF60DDDA23854F1B4B81CF3EAB6B" Guid="*">
                <File Id="filAE61A18D5AFD925DA6234D86EFB3D093" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\_Config\PLC\C_LogWithLogger.xti" />
            </Component>
            <Component Id="cmp37B9BA277452C97EFF5D1CD0C94A8236" Directory="dir5A01AF60DDDA23854F1B4B81CF3EAB6B" Guid="*">
                <File Id="fil22241E1A5870CC20C333FA384F4CC605" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\_Config\PLC\D_LogWithContext.xti" />
            </Component>
            <Component Id="cmp12D603D3A731B09F59AB9DADA0398E78" Directory="dir5A01AF60DDDA23854F1B4B81CF3EAB6B" Guid="*">
                <File Id="filD9E898E843A0E39B0F726FA3F7AC4600" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\_Config\PLC\E_StructuredLogging.xti" />
            </Component>
            <Component Id="cmp3F7542204EE05BA40C3B154FCDD48DC2" Directory="dir5A01AF60DDDA23854F1B4B81CF3EAB6B" Guid="*">
                <File Id="fil3733EAC06F09E7BA74857A46AEC8D711" KeyPath="yes" Source="$(var.Log4TcTwinCatLibFeatureHarvestPath)\_Config\PLC\LoggingExample.xti" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFC1A5E713BF09CBDF473DD65BE5A56F3">
            <Directory Id="dir5A01AF60DDDA23854F1B4B81CF3EAB6B" Name="PLC" />
        </DirectoryRef>
    </Fragment>
</Wix>