<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id="Cmp_Log4TcTwinCatLib">
      <!-- Copy the TwinCat library files to the -->
      <Component Id="Cmp_Log4TcTwinCatLibFiles" 
                 Directory="DIR_CommonAppDataFolderLog4TcLib" 
                 NeverOverwrite="no"
                 KeyPath="yes"
                 Guid="DA0DAA54-1D99-4301-9B8C-33A85D4A2B0A">
        <File Id="Log4TcTwinCatLibFile" Source="..\..\..\library\mbc_Log4TC.library" />
      </Component>

      </ComponentGroup>
  </Fragment>
</Wix>