<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define Twincat3MinBuild4022 = 4022 ?>

	<Fragment>
    <?include $(sys.CURRENTDIR)Includes/DefinitionsPlatform.wxi ?>

    <!-- Get Install Path of twincat-->
    <Property Id="WIX_TWINCAT31_INSTALLDIR">
      <RegistrySearch Id="PrequisitTwinCatInstallDirRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\Beckhoff\TwinCAT3\3.1"
                      Name="InstallDir"
                      Type="directory"
                      Win64="no" />
    </Property>

    <!-- Exist twincat 3 router -->
    <Property Id="WIX_IS_TWINCAT3_ROUTER_INSTALLED">
      <RegistrySearch Id="PrequisitTwinCatRouterRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\Beckhoff\TwinCAT3\System"
                      Name="Build"
                      Type="raw"
                      Win64="no" />
    </Property>

    <!-- Exist twincat3 XAE -->
    <Property Id="WIX_IS_TWINCAT3_XAE_INSTALLED" Value="0">
      <!--DirectorySearch needs a common Variable like [WindowsVolume] or [ProgramFilesFolder] at the beginning!-->
      <DirectorySearch Id="PrequisitTwinCat3XaeDirectorySearch"
                       Path="[WIX_TWINCAT31_INSTALLDIR]Components\Plc\Profiles"
                       Depth="0"
                       AssignToProperty="yes">
      </DirectorySearch>
    </Property>


    <!-- TwinCat Version -->
    <Property Id="WIX_TWINCAT3_BUILD_INSTALLED">
      <RegistrySearch Id="TwincatBuildVersionRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\Beckhoff\TwinCAT3\System"
                      Name="Build"
                      Type="raw"
                      Win64="no" />
    </Property>
    <Property Id="WIX_IS_TWINCAT3_BUILD_4022_OR_LATER_INSTALLED" Secure="yes" />
    <SetProperty Id="WIX_IS_TWINCAT3_BUILD_4022_OR_LATER_INSTALLED" Value="1" After="AppSearch">
      WIX_TWINCAT3_BUILD_INSTALLED >= "#$(var.Twincat3MinBuild4022)"
    </SetProperty>

    <!-- Exist twincat Alarm & Event v1 TcEventLogger as service -->
    <Property Id="WIX_IS_TWINCAT3_ALARMEVENTV1_LOGGERSERVICE_INSTALLED">
      <RegistrySearch Id="PrequisitTwinCatLoggerServiceRegSearch"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\Services\TcEventLogger"
                      Name="Start"
                      Type="raw"
                      Win64="$(var.Win64)"/>
    </Property>
	</Fragment>
</Wix>
