<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define Twincat3MinBuild4022 = 4022 ?>
  
	<Fragment>
    <?include $(sys.CURRENTDIR)Includes/DefinitionsPlatform.wxi ?>

    <!-- Exist twincat 3 router -->
    <Property Id="WIX_IS_TWINCAT3_ROUTER_INSTALLED">
      <RegistrySearch Id="PrequisitTwinCatRouterRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\WOW6432Node\Beckhoff\TwinCAT3\System"
                      Name="Build"
                      Type="raw"
                      Win64="$(var.Win64)" />
    </Property>

    <!-- Exist twincat3 XAE -->
    <Property Id="WIX_IS_TWINCAT3_XAE_INSTALLED">
      <RegistrySearch Id="PrequisitTwinCat3XaeRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\Common7\IDE\TcXaeShell.exe"
                      Type="raw"
                      Win64="$(var.Win64)" />
    </Property>
    
    <!-- TwinCat Version -->
    <Property Id="WIX_TWINCAT3_BUILD_INSTALLED">
      <RegistrySearch Id="TwincatBuildVersionRegSearch"
                      Root="HKLM"
                      Key="SOFTWARE\WOW6432Node\Beckhoff\TwinCAT3\System"
                      Name="Build"
                      Type="raw"
                      Win64="$(var.Win64)" />
    </Property>
    <Property Id="WIX_IS_TWINCAT3_BUILD_4022_OR_LATER_INSTALLED" Secure="yes" />
    <SetProperty Id="WIX_IS_TWINCAT3_BUILD_4022_OR_LATER_INSTALLED" Value="1" After="AppSearch">
      WIX_TWINCAT3_BUILD_INSTALLED >= "#$(var.Twincat3MinBuild4022)"
    </SetProperty>

    <!-- Exist twincat Alarm & Event v1 TcEventLogger as service -->
    <Property Id="WIX_IS_TWINCAT3_ALARMEVENTV1_LOGGERSERVICE_INSTALLED">
      <RegistrySearch Id="PrequisitTwinCatLoggerServiceRegSearch"
                      Root="HKLM"
                      Key="SYSTEM\CurrentControlSet\Services\TcEventLogger"
                      Name="Start"
                      Type="raw"
                      Win64="$(var.Win64)"/>
    </Property>
	</Fragment>
</Wix>
