# EditorConfig is awesome:http://EditorConfig.org

root = true

# Don't use tabs for indentation.
[*]
indent_style = space

[*.{cs,csx}]
ident_size = 4
ident_style = space
insert_final_newline = true;

