<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="mbcpublic" value="https://mbeec.pkgs.visualstudio.com/_packaging/public/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <mbcpublic>
      <add key="Username" value="read" />
      <add key="ClearTextPassword" value="45atwcfnfsx6jrva3h4ycc237tdnccx6ojscziosist6cczxcsrq" />
    </mbcpublic>
  </packageSourceCredentials>
</configuration>
