<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
	   xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
   <!-- Debug setup:
    msiexec.exe /i "xxx.Setup(x64)v19.7.14.9.msi" /l*v install.log-->
  
  <!-- Help links:
  - cookbook pdf -> https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxzZWNyZXRzb2Z3ZWJ8Z3g6NGY2ZmVmZjcyMmE2ZmFiMw
  - sample harvesting files: https://www.codeproject.com/Articles/1107786/%2FArticles%2F1107786%2FEnabling-Harvest-Heat-exe-in-a-Wix-Setup-Project
  - heatdirectory Task parameters: http://wixtoolset.org/documentation/manual/v3/msbuild/task_reference/heatdirectory.html
  - binding definitions like !(bind.packageManufacturer.MyProduct): http://wixtoolset.org/documentation/manual/v3/overview/light.html
  - UI Customization: https://wixtoolset.org/documentation/manual/v3/wixui/wixui_customizations.html
  -->

  <!--#####################################
     Includes, Defines & Variables 
     ######################################-->
  <?include $(sys.CURRENTDIR)Includes/DefinitionsPlatform.wxi ?>
  <?define ProductVersion = "$(var.BuildVersion)"?>
  <?define UpgradeCode = "E018EB69-CA90-463B-85DC-8D2ABB93A6BA" ?>
  
  <!--#####################################
     Product definition
     ######################################-->
  <Product Id="*"
           Name="mbc engineering GmbH log4TC v$(var.ProductVersion) $(var.bitness)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="mbc engineering GmbH"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Description="mbc engineering GmbH log4Tc"
             Comments="(c) mbc engineering GmbH"
             Manufacturer="mbc engineering GmbH" />
    <MediaTemplate EmbedCab="yes" />


    
    <!-- Exits successfully in the case newer version are already installed -->
    <CustomActionRef Id="WixExitEarlyWithSuccess"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowDowngrades="no"
                  AllowSameVersionUpgrades="yes" /> <!-- AllowSameVersionUpgrades is for the 4. Version place, use WIX_UPGRADE_DETECTED Property to know if new version installation is dedected -->
    

    <!-- Setup UI customization 
         ********************** -->
    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <UI>
      <!-- one of the alternatives Simplest: <UIRef Id="WixUI_Minimal"/> or <UIRef Id="WixUI_InstallDir"/> -->
      <UIRef Id="WixUI_FeatureTree"/>
    </UI>
    <!-- Set the icon to show next to the program name in Windows Add/Remove programs -->
    <Icon Id="favicon.ico" SourceFile="$(sys.CURRENTDIR)Resources/favicon.ico" />
    <Property Id="ARPPRODUCTICON" Value="favicon.ico" />
    <!-- Installer UI custom pictures. -->
    <WixVariable Id="WixUIBannerBmp" Value="$(sys.CURRENTDIR)Resources/MbcBanner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="$(sys.CURRENTDIR)Resources/log4TcBackground.png" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Damit die log4TC OEM Lizenz korrekt geladen wird, kann ein Neustart von TwinCat notwendig sein." />

    <!-- Installation prerequisite 
         ************************ -->
    <Condition Message="Nur Windows 7 SP1 und neuer wird unterstützt">
      <![CDATA[Installed OR VersionNT >= 602 OR (VersionNT = 601 AND ServicePackLevel = 1)]]> <!-- 602 = Windows8; 601 = Windows 7 https://docs.microsoft.com/en-us/windows/win32/msi/operating-system-property-values -->
    </Condition>
    
    <!--
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" />
    <Condition Message="[ProductName] requires Microsoft .Net Framework with minimal version of 4.6.1 to be installed.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>
    -->
    
    <!--
    <PropertyRef Id="WIX_IS_TWINCAT3_ROUTER_INSTALLED"/>
    <Condition Message="[ProductName] benötigt zur ausführung des Services den TwinCat 3 Router.">
      <![CDATA[Installed OR WIX_IS_TWINCAT3_ROUTER_INSTALLED]]>
    </Condition>
    -->

    <!-- Installer Feature list
         ********************** -->
    <PropertyRef Id="WIX_IS_TWINCAT3_ROUTER_INSTALLED"/>
    <PropertyRef Id="WIX_IS_TWINCAT3_XAE_INSTALLED"/>
    <Feature Id="Log4TcServiceFeature"
             Title="log4TC Service"
             Description="log4TC Service und Ausgabe Kanäle installieren und Service starten"
             Level="0">

      <!-- Check Feature prerequisites are installed, when not feature is not visible
           - requires TwinCat Router are installed. -->
      <Condition Level="1">
        <![CDATA[Installed OR WIX_IS_TWINCAT3_ROUTER_INSTALLED]]>
      </Condition>
      
      <!-- Cmp_Log4TcService is generated by Heat Harvesting as BeforeBuild task -->
      <ComponentGroupRef Id="Cmp_Log4TcService" />
      <ComponentGroupRef Id="Cmp_Log4TcServiceInstall" />
      <ComponentGroupRef Id="Cmp_Log4TcServicePlugins" />
      <ComponentGroupRef Id="Cmp_Log4TcServiceOutputFiles" />
    <ComponentGroupRef Id="Cmp_Log4TcCommonInstall" />
    </Feature>
    <Feature Id="Log4TcTwinCatLibFeature"
             Title="log4TC TwinCat 3 Bibliothek"
             Description="log4TC TwinCat 3 Bibliothek und OEM Lizenz Beschreibung installieren"
             Level="0">
      
      <!-- Check Feature prerequisites are installed, when not feature is not visible
           - requires TwinCat XAE -->
      <Condition Level="1">
        <![CDATA[Installed OR (WIX_IS_TWINCAT3_XAE_INSTALLED<>0 AND WIX_IS_TWINCAT3_BUILD_4022_OR_LATER_INSTALLED)]]>
      </Condition>
      
      <ComponentGroupRef Id="Cmp_Log4TcTwinCatLib" />
      <ComponentGroupRef Id="Cmp_Log4TcTwinCatLibGettingStartedFiles" />
      <ComponentGroupRef Id="Cmp_Log4TcTwinCatLibGettingStarted" />
      <ComponentGroupRef Id="Cmp_Log4TcCommonInstall" />
    </Feature>

    <!-- Installation Custom Actions 
         ************************ -->
    <!--set CustomActionData values for actions to use-->
    <CustomAction Id="CA_Log4TcTwinCatLibRepToolInstall"
              BinaryKey="WixCA"
              DllEntry="CAQuietExec"
              Execute="deferred"
              Return="check"  />
    <Property Id="Twincat3Profile" Value="TwinCAT PLC Control" />
    <!-- Execute install command "RepTool.exe [dashdash]profile="c:\TwinCAT\3.1\Components\Plc\Profiles\TwinCAT PLC Control" [dashdash]installLib "C:\mbc-source\mbc\log4tc\library\mbc_Log4TC_v.0.0.2.library"-->
    <SetProperty Id="CA_Log4TcTwinCatLibRepToolInstall"
                 Value="&quot;[DIR_Twincat3Common]RepTool.exe&quot; --profile=&quot;[DIR_Twincat3Profiles][Twincat3Profile]&quot; --installLib &quot;[#Log4TcTwinCatLibFile]&quot;"
                 Sequence="execute"
                 Before="CA_Log4TcTwinCatLibRepToolInstall" />
    
    <InstallExecuteSequence>
      <Custom Action="CA_Log4TcTwinCatLibRepToolInstall" 
              After="InstallFiles">
        <!-- Install TwincatLib when value == 3 (3-> on install; 2-> on deinstall)-->
        <![CDATA[&Log4TcTwinCatLibFeature=3]]>
      </Custom>
    </InstallExecuteSequence>
  </Product>


  <!--Directory structure
      ******************* -->
  <Fragment>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ManufacturerFolder"
                   Name="!(bind.property.Manufacturer)">
          <Directory Id="DIR_Log4TcService"
                     Name="log4TC" >
            <Directory Id="DIR_Log4TcServicePlugin"
                       Name="plugins" />
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="DIR_ProgramMenuServiceShortcuts"
                   Name="log4TC" />
      </Directory>

      <Directory Id="CommonAppDataFolder">
        <Directory Id="DIR_CommonAppDataFolderLog4Tc" Name="log4TC" >
          <Directory Id="DIR_CommonAppDataFolderLog4TcConfig" Name="config" />
          <Directory Id="DIR_CommonAppDataFolderLog4TcLog" Name="log" />
          <Directory Id="DIR_CommonAppDataFolderLog4TcLib" Name="lib" />
          <Directory Id="DIR_CommonAppDataFolderLog4TcGettingStarted" Name="getting started" />
        </Directory>
      </Directory>
      
      <!-- Define existing TwinCat installation directories-->
      <Directory Id="DIR_Twincat3">
        <Directory Id="DIR_Twincat3CustomConfig"
                    Name="CustomConfig">
          <Directory Id="DIR_Twincat3CustomConfigLicenses"
                      Name="Licenses" />
        </Directory>
        <Directory Id="DIR_Twincat3Components"
                    Name="Components">
          <Directory Id="DIR_Twincat3Plc"
                    Name="Plc">
        <Directory Id="DIR_Twincat3Common"
                    Name="Common"/>
          <Directory Id="DIR_Twincat3Profiles"
                    Name="Profiles"/>
          </Directory>
          </Directory>
      </Directory>
    </Directory>

    <SetDirectory Id="DIR_Twincat3" Value="[WIX_TWINCAT31_INSTALLDIR]" />
  </Fragment>
</Wix>
