<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
	   xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
   <!-- Debug setup:
    msiexec.exe /i "FischerAg.Ui.Nsp.Setup(x64)v19.7.14.9.msi" /l*v install.log-->
  
  <!-- Help links:
  - introduction video: https://www.youtube.com/watch?v=s9oqh4FrAKo
  - msi property reference with default variables: https://docs.microsoft.com/en-us/windows/desktop/msi/property-reference
  - Project reference variables: http://wixtoolset.org/documentation/manual/v3/votive/votive_project_references.html
  - real life example: https://helgeklein.com/blog/2014/09/real-world-example-wix-msi-application-installer/#directory-structure
  - samples: https://github.com/rstropek/Samples
  - sample blog: https://weblogs.sqlteam.com/mladenp/2010/02/11/wix-3-tutorial-solutionproject-structure-and-dev-resources/
  - sample harvesting files: https://www.codeproject.com/Articles/1107786/%2FArticles%2F1107786%2FEnabling-Harvest-Heat-exe-in-a-Wix-Setup-Project
  - heatdirectory Task parameters: http://wixtoolset.org/documentation/manual/v3/msbuild/task_reference/heatdirectory.html
  - binding definitions like !(bind.packageManufacturer.MyProduct): http://wixtoolset.org/documentation/manual/v3/overview/light.html
  -->

  <!--#####################################
     Includes, Defines & Variables 
     ######################################-->
  <?include $(sys.CURRENTDIR)Includes/DefinitionsPlatform.wxi ?>
  <?define ProductVersion = "$(var.BuildVersion)"?>
  <?define UpgradeCode = "E018EB69-CA90-463B-85DC-8D2ABB93A6BA"?>
  
  <!--#####################################
     Product definition
     ######################################-->
  <Product Id="*"
           Name="MBC Log4Tc v$(var.ProductVersion) $(var.bitness)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="MBC Engineering GmbH"
           UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Description="MBC Log4Tc"
             Comments="(c) MBC Engineering GmbH"
             Manufacturer="MBC Engineering GmbH" />
    <MediaTemplate EmbedCab="yes" />


    
    <!-- Exits successfully in the case newer version are already installed -->
    <CustomActionRef Id="WixExitEarlyWithSuccess"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowDowngrades="no"
                  AllowSameVersionUpgrades="yes" /> <!-- AllowSameVersionUpgrades is for the 4. Version place, use WIX_UPGRADE_DETECTED Property to know if new version installation is dedected -->
    

    <!-- Setup UI customization 
         ********************** -->
    <!-- one of the alternatives <UIRef Id="WixUI_InstallDir"/> -->
    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <UI>
      <UIRef Id="WixUI_Minimal"/>
    </UI>
    <!-- Set the icon to show next to the program name in Windows Add/Remove programs -->
    <Icon Id="favicon.ico" SourceFile="$(sys.CURRENTDIR)Resources/favicon.ico" />
    <Property Id="ARPPRODUCTICON" Value="favicon.ico" />
    <!-- Installer UI custom pictures. -->
    <WixVariable Id="WixUIBannerBmp" Value="$(sys.CURRENTDIR)Resources/MbcWixBanner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="$(sys.CURRENTDIR)Resources/MbcWixBackground.png" />

    <!-- Installation prerequisite 
         ************************ -->
    <PropertyRef Id="WIX_IS_TWINCAT3_ROUTER_INSTALLED"/>


    <!-- Installer Feature list
         ********************** -->
    <Feature Id="Log4TcServiceFeature"
             Title="Log4Tc Service"
             Description="Log4Tc Service installieren."
             Level="0">

      <!-- Check Feature prerequisites are installed, when not feature is not visible
           - requires TwinCat Router are installed.
           - requires TwinCat Alarm and Event V1 are installed and running.-->
      <Condition Level="1">
        <![CDATA[Installed OR WIX_IS_TWINCAT3_ROUTER_INSTALLED]]>
      </Condition>      
      
      <!-- Cmp_Log4TcService is generated by Heat Harvesting as BeforeBuild task -->
      <ComponentGroupRef Id="Cmp_Log4TcService" />
      <ComponentGroupRef Id="Cmp_Log4TcServiceInstall" />
    </Feature>

    <!-- Installation Custom Actions 
         ************************ -->
  </Product>


  <!--Directory structure
      ******************* -->
  <Fragment>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ManufacturerFolder"
                   Name="!(bind.property.Manufacturer)">
          <Directory Id="DIR_Log4TcService"
                   Name="Log4TcService" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
